body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tagline {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
}

.tagline p {
  margin: 0;
}

a {
  color: #f74160;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container h2 {
  color: #f74160;
  letter-spacing: 2px;
  font-weight: 300;
}

.newsletter {
  background-color: #f74160;
  padding: 10px 15px;
  margin-top: 0;
  font-weight: 300;
}

.newsletter a {
  color: #fafafa;
}

.newsletter a:hover {
  text-decoration: none;
}